@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");

:root {
  // Colors
  --main-deep-color: #f4c553;
  --main-light-color: #fcfaeb;
  --second-deep-color: #ed9f4a;
  --third-deep-color: #163a1e;
  --second-light-color: #dfeddc;

  // Fonts
  --main-font: "Montserrat", sans-serif;
  --second-font: "Hind", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(
    var(--second-light-color) 50%,
    var(--main-deep-color)
  );
}

// CONTAINER LOGIN

.container {
  display: flex;
  flex-direction: column;
  width: 260px;
  transform: translate(0, 50%);
  height: max-content;
  border-radius: 10px;
  margin: auto;
  background-color: var(--main-deep-color);
  box-shadow: rgba(100, 50, 111, 0.2) 0px 7px 29px 0px;
  &__text {
    font-family: var(--main-font);
    font-size: 2.25em;
    margin-top: 20px;
    text-align: center;
  }
  &__inside {
    padding: 20px 20px;
  }
  &__logIn {
    display: none;
  }
}

.form {
  font-family: var(--second-font);
  &__inputEmail,
  &__inputPassword,
  &__inputFirstName,
  &__inputLastName {
    width: 95%;
    height: 20px;
    margin-bottom: 10px;
    background-color: var(--second-light-color);
    border: none;
    &:focus {
      outline: none;
      border: 2px solid var(--third-deep-color);
    }
  }
  &__inputPassword {
    margin-bottom: 5px;
  }
  &__anchor {
    font-size: 0.625em;
    font-weight: 600;
    color: var(--second-light-color);
    border-bottom: 1px solid var(--second-light-color);
    text-decoration: none;
    &:hover {
      color: var(--third-deep-color);
      border: none;
    }
  }
  &__button {
    width: 95%;
    height: 25px;
    font-family: var(--main-font);
    margin-top: 25px;
    border-radius: 5px;
    border: none;
    color: var(--main-light-color);
    background-color: var(--second-deep-color);
    box-shadow: rgba(100, 50, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }
}

// CONTAINER SIGN UP

.container__signUp {
  display: none;
}

// MAIN PAGE

.mainPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  background-color: var(--third-deep-color);
  &__logoHeader {
    height: 30px;
    width: 30px;
    object-fit: contain;
    border-radius: 3px;
  }
  &__inputSearch {
    font-family: var(--second-font);
    width: calc(65% - 1rem);
    padding: 3px;
    border: none;
    color: #979191;
    background-color: var(--main-light-color);
    text-indent: 5px;
    margin-top: 2px;
    &:focus {
      outline: none;
    }
  }
}
.userIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
  &__profileImage {
    display: flex;
    height: 25px;
    justify-content: center;
    border-radius: 50%;
    width: 25px;
    overflow: hidden;
  }
  &__image {
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
  }
}

.burgerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
  height: 30px;
  width: 30px;
  margin-right: 5px;
  &:hover > .line1 {
    position: absolute;
    transform: rotate(40deg);
    transition-duration: 0.7s;
  }
  &:hover > .line2 {
    position: absolute;
    transform: rotate(-40deg);
    transition-duration: 0.5s;
  }
  &:hover > .line3 {
    display: none;
  }
  &__line {
    height: 1.5px;
    width: 1.3rem;
    background-color: var(--main-deep-color);
  }
}

// POST CONTAINER

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 35rem;
  height: calc(25% - 1rem);
  margin: 1rem;
  border-radius: 5px;
  background-color: var(--main-light-color);
  &__inside {
    height: 75%;
    width: 35rem;
    max-width: calc(90% - 20px);
    font-family: var(--second-font);
    margin-top: 1rem;
    color: #979191;
    border: 2px solid var(--second-light-color);
    background-color: var(--main-light-color);
    text-indent: 5px;
    outline: none;
  }
}

.postAction {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 35%;
  width: 100%;
  margin-top: 1rem;
  color: var(--second-light-color);
  border-radius: 0 0 5px 5px;
  background-color: var(--third-deep-color);
  &__span {
    color: var(--main-deep-color);
  }
  &__icons {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    object-fit: contain;
  }
  &__imageIcon {
    margin-left: 1rem;
  }
  &__postSubmit {
    font-family: var(--main-font);
    margin-right: 1rem;
  }
}
