@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");
:root {
  --main-deep-color: #f4c553;
  --main-light-color: #fcfaeb;
  --second-deep-color: #ed9f4a;
  --third-deep-color: #163a1e;
  --second-light-color: #dfeddc;
  --main-font: "Montserrat", sans-serif;
  --second-font: "Hind", sans-serif; }

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

.websiteBackground {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, var(--main-deep-color)), color-stop(60%, var(--second-light-color)));
  background-image: linear-gradient(var(--main-deep-color) 30%, var(--second-light-color) 60%); }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 10px;
  margin: auto;
  background-color: var(--main-deep-color);
  -webkit-box-shadow: rgba(100, 50, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 50, 111, 0.2) 0px 7px 29px 0px; }
  .container__text {
    font-family: var(--main-font);
    font-size: 2.25em;
    margin-top: 20px;
    text-align: center; }
  .container__inside {
    padding: 20px 20px; }
  .container__logIn {
    display: none; }

.form {
  font-family: var(--second-font); }
  .form__inputEmail, .form__inputPassword, .form__inputFirstName, .form__inputLastName {
    width: 95%;
    height: 20px;
    margin-bottom: 10px;
    background-color: var(--second-light-color);
    border: none; }
    .form__inputEmail:focus, .form__inputPassword:focus, .form__inputFirstName:focus, .form__inputLastName:focus {
      outline: none;
      border: 2px solid var(--third-deep-color); }
  .form__inputPassword {
    margin-bottom: 5px; }
  .form__anchor {
    font-size: 0.625em;
    font-weight: 600;
    color: var(--second-light-color);
    border-bottom: 1px solid var(--second-light-color);
    text-decoration: none; }
    .form__anchor:hover {
      color: var(--third-deep-color);
      border: none; }
  .form__button {
    width: 95%;
    height: 25px;
    font-family: var(--main-font);
    margin-top: 25px;
    border-radius: 5px;
    border: none;
    color: var(--main-light-color);
    background-color: var(--second-deep-color);
    -webkit-box-shadow: rgba(100, 50, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 50, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer; }
    .form__button:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }

.container__signUp {
  display: none; }

.mainPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  background-color: var(--third-deep-color); }
  .mainPage__logoHeader {
    height: 30px;
    width: 30px;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 3px; }
  .mainPage__inputSearch {
    font-family: var(--second-font);
    width: calc(65% - 1rem);
    padding: 3px;
    border: none;
    color: #979191;
    background-color: var(--main-light-color);
    text-indent: 5px;
    margin-top: 2px; }
    .mainPage__inputSearch:focus {
      outline: none; }

.userIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7rem; }
  .userIcon__profileImage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    width: 25px;
    overflow: hidden; }
  .userIcon__image {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    vertical-align: middle;
    cursor: pointer; }

.burgerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3rem;
  height: 30px;
  width: 30px;
  margin-right: 5px; }
  .burgerMenu:hover > .line1 {
    position: absolute;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    -webkit-transition-duration: 0.7s;
            transition-duration: 0.7s; }
  .burgerMenu:hover > .line2 {
    position: absolute;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s; }
  .burgerMenu:hover > .line3 {
    display: none; }
  .burgerMenu__line {
    height: 1.5px;
    width: 1.3rem;
    background-color: var(--main-deep-color); }

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 35rem;
  height: calc(25% - 1rem);
  margin: 1rem;
  border-radius: 5px;
  background-color: var(--main-light-color);
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 3px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 3px; }
  .post__inside {
    height: 75%;
    width: 35rem;
    max-width: calc(90% - 20px);
    font-family: var(--second-font);
    margin-top: 1rem;
    color: #979191;
    border: 2px solid var(--second-light-color);
    background-color: var(--main-light-color);
    text-indent: 5px;
    outline: none; }

.postAction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35%;
  width: 100%;
  margin-top: 1rem;
  color: var(--second-light-color);
  border-radius: 0 0 5px 5px;
  background-color: var(--third-deep-color); }
  .postAction__span {
    color: var(--main-deep-color); }
  .postAction__icons {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    -o-object-fit: contain;
       object-fit: contain; }
  .postAction__imageIcon {
    margin-left: 1rem; }
  .postAction__postSubmit {
    font-family: var(--main-font);
    margin-right: 1rem; }

.showMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none; }
  .showMore__button {
    font-family: var(--main-font);
    padding: 0.4rem;
    color: white;
    background-color: var(--main-deep-color);
    border: none;
    cursor: pointer;
    -webkit-box-shadow: rgba(155, 35, 35, 0.15) 1.95px 1.95px 1.6px;
            box-shadow: rgba(155, 35, 35, 0.15) 1.95px 1.95px 1.6px; }
    .showMore__button > span {
      font-size: 1rem;
      vertical-align: middle; }

.showUserContainer {
  margin: 5rem 0.3rem 0 0;
  float: right;
  z-index: -1; }

.topUserContainer {
  display: none;
  position: relative;
  max-width: 555px;
  margin: 1rem;
  border-radius: 5px;
  border: 1px solid var(--main-deep-color);
  background-color: var(--main-light-color);
  z-index: 1; }
  .topUserContainer__title {
    font-size: 1.5em;
    font-family: var(--main-font);
    padding: 0.5rem;
    background-color: var(--second-light-color);
    text-indent: 5px; }
    .topUserContainer__title__span {
      font-size: 0.6em;
      padding: 0.2rem;
      border-radius: 50%;
      float: right;
      cursor: pointer; }
      .topUserContainer__title__span:hover {
        color: var(--main-deep-color); }
  .topUserContainer__userList {
    font-family: var(--main-font); }
  .topUserContainer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.4rem;
    margin: 0.2rem; }
  .topUserContainer__points {
    width: 1.5rem;
    margin-right: 1rem;
    color: var(--main-deep-color); }

.footer {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  font-size: 0.8em;
  padding: 1rem 0 1rem 0;
  background-color: var(--third-deep-color);
  color: var(--main-light-color); }
  .footer__arrowUp {
    position: absolute;
    right: 0;
    bottom: 8rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    padding: 0.4rem;
    margin-right: 1rem;
    border-radius: 50%;
    text-align: center;
    background-color: var(--main-deep-color);
    line-height: 1.3rem;
    vertical-align: middle; }
  .footer__image {
    height: 3.5rem;
    width: 3.5rem;
    -o-object-fit: contain;
       object-fit: contain; }
  .footer__images {
    height: 1.5rem;
    width: 1.5rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    vertical-align: middle; }
  .footer__title {
    font-family: var(--main-font); }
  .footer .footer__information__list {
    font-family: var(--second-font);
    margin: 0.1rem; }
  .footer .footer__developers__pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 0.5rem; }

.userProfileBody {
  background-image: var(--second-light-color); }
/*# sourceMappingURL=style.css.map */